body {
    background-color: rgb(238, 232, 170);
}

.fontColor
{
    color:rgb(220, 198, 76) ;
}

.ex1 {
    height: 300px;
    width: 600px;
    background-color: brown;
    margin: 10px;
    padding: 10px;
    /* border: 20px; */
    /* border-color: blue; */
    /* border-style: dotted; */
    border-style: solid;
    border-color: rgb(92, 37, 37);
}

.ex2 {
    height: 300px;
    width: 600px;
    background-color: rgb(225, 138, 103);
}

.div1{
    height: 100px;
    width: 100%;
    padding: 1%;
    background-color: rgb(125, 103, 225);
}

.div2{
    height: 50px;
    width: 100%;
    padding: 1%;
    background-color: rgb(225, 138, 103);
}

.div3{
    height: 20%;
    width: 200px;
    padding: 1%;
    margin: 5%;
    display: inline-block;
    background-color: rgb(194, 225, 103);
}

.div4{
    height: 20%;
    width: 200px;
    padding: 1%;
    margin: 5%;
    display: inline-block;
    background-color: rgb(194, 225, 103);
}

.div5{
    height: 850px;
    width: 100%;
    padding-left: 10px ;
    background-color: rgb(103, 225, 154);
}